# dwm
dwm/config.h
dwm/*orig
dwm/dwm
dwm/*.o
dwm/config.h
dwm/*.rej

# dwmblocks
dwmblocks/dwmblocks
dwmblocks/blocks.h

# st
st/config.h
st/*orig
st/st
st/*.o
st/config.h
st/*.rej

# dmenu
dmenu/*.o
dmenu/config.h
dmenu/*.orig
dmenu/*.rej
dmenu/dmenu
dmenu/stest
